@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;1,300&display=swap');


body{
    margin: 0;
    /* font-family: Roboto, sans-serif; */

}
header{
    display: flex;
    background-color: #1F2937;
    width: 100%;
    color: #F9FAF8;
    justify-content: space-between;
    align-items: baseline;
}

.logo{
    font-size: 24px;
    padding-left: 50px;
}
ul{
    list-style-type: none;
    display: flex;
    font-size: 18px;
    margin-left: auto;
    margin-right: 50px;
    gap: 20px;
}

.pane1{
    display: flex;
    background-color: #1F2937;
    width: 100%;
    /* flex-direction: column;
    align-items: flex-start; */
}
.text{
    display: flex;
    flex-direction: column;
}
.random1{
    max-width: 20%;
    height: auto;
    margin-left: auto;
}
/* .whitePanel{
    display: flex;
    flex-direction: row;
} */
.randomInfo{
    display: flex;
    justify-content: center;
}
.random2{
    display: flex;
    flex-direction: column;
    max-width: 10%;
    height: auto;
}

.random3{
    display: flex;
    flex-direction: column;
    max-width: 10%;
    height: auto;
}
.random4{
    display: flex;
    flex-direction: column;
    max-width: 10%;
    height: auto;
}
.random5{
    display: flex;
    flex-direction: column;
    max-width: 6%;
    height: auto;
}
.awesome{
    color: #F9FAF8;
    font-size: 48px;
    /* font-family: roboto, sans-serif; */
    max-width: 70%;
}
.subtext{
   font-size: 18px;
   color: lightgrey;
   max-width: 70%;
}
.button{
    max-width: 100px;
}
.images{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.greyPanel{
    background-color: #E5E7EB;
    font-family: Roboto, sans-serif, 700;
}



